<!doctype html>
<html>
  <head>
    <title>EPD-WEB Loader</title>
  </head>
  <body>
  <h1>File Upload</h1>
  Please Input a pre processed image to be displayed. <br><br>
  <form method="POST" action="" enctype="multipart/form-data">
    <label for="file_r">Red Image:</label>
    <input id="file_r" type="file" name="file_r" accept=".bmp"><br>
    <label for="file_b">Black Image:</label>
    <input id="file_b" type="file" name="file_b" accept=".bmp"><br>
    <input type="submit" value="Submit">
  </form>
  </body>
</html>